!!! 5
html
	head
		title Le Müsik
		link(rel='stylesheet', href='/public/css/style.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		block scripts
	body
		block contents
		block footerscripts
			script(scr='/public/lib/jquery-1.7.1.min.js')
			script(scr='/public/lib/underscore-min.js')
			script(scr='/public/lib/backbone-min.js')
			
